// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
* {
    list-style: none;
}

.post-index {
    margin-bottom: 40px;
}

.post-list {
    padding-inline-end: 40px;
}

.post-show {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.card-footer li,
.comment-buttons li,
.giphyButton {
    display: inline-block;
}

h1 {
    padding: 10px;
}

.form-group {
    margin-left: 20px;
}