html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0; 
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    font-size: 6vh;
    margin-bottom: 30px;
}

/* Custom */

.logo {
    padding: 10px;
    height: 60px; 
    width: 60px; 
}

.panel {
    height: 100%;
    width: 100%;
}
.panel.reveal-images {
    background-color: green;
}

.why-join {
    background-color: red;
}

.register {
    background-color: turquoise;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, .5);
}

.digit {
    opacity: 0;
    -webkit-transform: translateX(-40px);
         -moz-transform: translateX(-40px);
            -ms-transform: translateX(-40px);
             -o-transform: translateX(-40px);
                    transform: translateX(-40px);
    -webkit-transition: all 0.6s ease-out;
         -moz-transition: all 0.6s ease-out;
            -ms-transition: all 0.6s ease-out;
             -o-transition: all 0.6s ease-out;
                    transition: all 0.6s ease-out;
}
.digit.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}
.digit:nth-child(2) {
    margin-top: 20px;
}
.digit:nth-child(3) {
    margin-top: 30px;
}
.digit:nth-child(4) {
    margin-top: 40px;
}
.digit:nth-child(5) {
    margin-top: 50px;
}

@media screen and (max-width: 600px) {
    body  {
      width: 100%;
      font-size: 0.75em;
    }

    h1 {
        font-size: 6vh;
    }
}
